/* 중앙 정렬 */
.gw-centered {
    margin: 0 auto;
}

/* 디바이더 */
.gw-divider {
    margin: 3em 0;
    height: 1px;
    background: rgb(212, 212, 212)
}

/* 공통 버튼 */
.gw-btn-small {
    margin-left: auto;
    font-size: 1em;
    margin-top: 1em;
}

.gw-btn-nocolor {
    background-color: transparent;
    color: rgb(95, 94, 94);
    font-weight: 100;
}

/* 제목 밑 작성자 표시 */
.gw-writer-box {
    display: flex;
    max-height: 20px;
}

#gw-writer-name {
    max-height: 20px;
    font-size: 20px;
    font-weight: 550;
}

#gw-writer-image {
    max-height: 35px;
    border-radius: 50%;
    margin: 0 1em 0 0;
}

.gw-w-box-right {
    margin-left: auto;
    display: flex;
}

#gw-is-updated {
    margin-right: 5px;
}

/* 수정 삭제 버튼 */
#gw-edit-box {
    display: flex;
}

#gw-edit-btn {
    margin: 1em 1em 0 auto;
    cursor: pointer;

}

#gw-delete-btn {
    margin-top: 1em;
    cursor: pointer;

}

/* 게시글 내용 */
#gw-content {
    min-height: 400px;
}

/* 작성자 배너 */
.gw-banner-wrapper {
    margin-top: 3em;
    background-color: rgba(100, 180, 255, 0.322);
    display: flex;
    height: 300px;
    border-radius: 30px;
}

.gw-banner-imagebox {
    display: flex;
}

#gw-banner-image {
    border-radius: 50%;
    width: 200px;
    margin: auto 3em auto 3em;
}

#gw-banner-name {
    font-weight: 800;
    font-size: 25px;
    margin: 1em 0;
}

#gw-banner-box {
    padding: 3%;
}

#gw-banner-follow {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    color: grey;
}

.gw-f-desc {
    margin-left: 20px;
}

#gw-banner-bio {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 1em;
}

/* 좋아요 버튼 */

.like-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    max-width: 80px;
    display: flex;
}

.like-button-wrapper {
    margin-top: 5em;

}

.like-icon {
    fill: #ccc;
    transition: fill 0.2s;
}

.like-button.liked .like-icon {
    fill: #ff5b5b;
}

.like-count {
    text-align: center;
}


/* 코멘트 */
#gw-comment-list {
    display: block;
    margin-top: 50px;
}

.comment-image {
    max-width: 40px;
    max-width: 40px;
    border-radius: 50%;
    margin: 10px 5px 10px;
}

.comment-writer {
    margin: auto 5px;
}

.gw-comment-writer {
    display: flex;
}


.gw-btn-comment {
    margin: 0 0 10px auto;
    font-size: 1em;
}

.gw-btn-comment:hover {
    margin-left: auto;
    font-size: 1em;
    color: #ccc;
    background-color: grey;
}